---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=121584141274833&client_secret=b0d3826624470f5f5c3e70ce70893ed4&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=121584141274833|EzolJusCGWQEJt_mnLvlo7Jiz_Q
  recorded_at: Tue, 16 Dec 2014 16:54:40 GMT
- request:
    method: get
    uri: https://graph.facebook.com/GetG5/posts?access_token=121584141274833%7CEzolJusCGWQEJt_mnLvlo7Jiz_Q&fields=likes.limit(1).summary(true),shares,message,id,created_time,from&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - '"c22a59449dd3538c0668bf0e89b9f45f07d9e13e"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"message":"Check out a few G5ers as they go from baby face
        to men all for a good cause.\nhttp:\/\/www.getg5.com\/wp-content\/uploads\/2014\/12\/Beards_G5_Movember.gif","id":"15485466463_10152611792811464","created_time":"2014-12-15T21:40:09+0000","from":{"category":"Local
        business","category_list":[{"id":"187133811318958","name":"Business Services"}],"name":"G5","id":"15485466463"},"likes":{"data":[{"id":"755437763","name":"Sara
        Lamb Hobin"}],"paging":{"cursors":{"after":"NzU1NDM3NzYz","before":"NzU1NDM3NzYz"},"next":"https:\/\/graph.facebook.com\/v1.0\/15485466463_10152611792811464\/likes?limit=1&summary=true&access_token=121584141274833|EzolJusCGWQEJt_mnLvlo7Jiz_Q&after=NzU1NDM3NzYz"},"summary":{"total_count":8}}},{"message":"Another
        fantastic G5 Holiday party! More rockin'' photo booth pictures to come!! abacus
        | photography IMAGES BY BRIAN J. BULEMORE","id":"15485466463_10152611417311464","created_time":"2014-12-15T17:41:04+0000","from":{"category":"Local
        business","category_list":[{"id":"187133811318958","name":"Business Services"}],"name":"G5","id":"15485466463"},"likes":{"data":[{"id":"1444093171","name":"Marcy
        Reich"}],"paging":{"cursors":{"after":"MTQ0NDA5MzE3MQ[...]
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=b0d3826624470f5f5c3e70ce70893ed4&client_secret=7fdaa62f5bdcbaeb7fd8b0f5ba137f7c&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "unknown_error" "An unknown error has occurred."
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1}}'
  recorded_at: Tue, 16 Dec 2014 17:41:43 GMT
- request:
    method: get
    uri: https://graph.facebook.com/GetG5/posts?fields=likes.limit(1).summary(true),shares,message,id,created_time,from&limit=20&%7B%22error%22:%7B%22message%22:%22An%20unknown%20error%20has%20occurred.%22,%22type%22:%22OAuthException%22,%22code%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "An access token is required to
        request this resource."
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An access token is required to request this resource.","type":"OAuthException","code":104}}'
  recorded_at: Tue, 16 Dec 2014 17:41:43 GMT
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=GetG5&client_secret=121584141274833&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "unknown_error" "An unknown error has occurred."
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1}}'
  recorded_at: Tue, 16 Dec 2014 19:20:07 GMT
- request:
    method: get
    uri: https://graph.facebook.com/b0d3826624470f5f5c3e70ce70893ed4/posts?fields=likes.limit(1).summary(true),shares,message,id,created_time,from&limit=20&%7B%22error%22:%7B%22message%22:%22An%20unknown%20error%20has%20occurred.%22,%22type%22:%22OAuthException%22,%22code%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: b0d3826624470f5f5c3e70ce70893ed4"'
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: b0d3826624470f5f5c3e70ce70893ed4","type":"OAuthException","code":803}}'
  recorded_at: Tue, 16 Dec 2014 19:20:07 GMT
recorded_with: VCR 2.9.3
