---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=121584141274833&client_secret=b0d3826624470f5f5c3e70ce70893ed4&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=121584141274833|EzolJusCGWQEJt_mnLvlo7Jiz_Q
  recorded_at: Tue, 16 Dec 2014 01:47:01 GMT
- request:
    method: get
    uri: https://graph.facebook.com/121584141274833/permissions?access_token=121584141274833%7CEzolJusCGWQEJt_mnLvlo7Jiz_Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) This method must be called
        with an app access_token, and requires version v2.2 or higher"
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"(#100) This method must be called with an app
        access_token, and requires version v2.2 or higher","type":"OAuthException","code":100}}'
  recorded_at: Tue, 16 Dec 2014 17:38:08 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/509257122550305/permissions?access_token=509257122550305%7CdIdahyYhDXA5Nc5GYTaPW09tZpY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.2
      Etag:
      - '"8e398386b9bb8f33aac579e58b07f09b6af0eac1"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"permission":"public_profile","status":"live"},{"permission":"user_friends","status":"live"},{"permission":"email","status":"live"}]}'
  recorded_at: Tue, 16 Dec 2014 17:57:08 GMT
recorded_with: VCR 2.9.3
