---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=foo&client_secret=b0d3826624470f5f5c3e70ce70893ed4&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "unknown_error" "An unknown error has occurred."
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1}}'
  recorded_at: Tue, 16 Dec 2014 01:47:01 GMT
recorded_with: VCR 2.9.3
